services:
  - type: web
    name: backend
    runtime: node
    plan: free
    rootDir: packages/backend
    buildCommand: npm ci --include=dev --no-audit --prefer-offline || npm install --include=dev && npm run db:migrate
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production

  - type: web
    name: frontend
    runtime: node
    plan: free
    rootDir: packages/frontend
    buildCommand: npm run build
    startCommand: npm run preview
    envVars:
      - key: NODE_ENV
        value: production
